## Imports

In [2]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv(
    'H1b data/h1b_data2024-25.csv',
    engine='python',     # more tolerant than the C engine
    sep=None,            # sniff the delimiter (comma/semicolon/tab)
    encoding='utf-16',  # file is UTF-16 encoded
    on_bad_lines='warn', # show which lines are malformed (pandas >=1.3)
)

## Intro data

In [20]:
df.head(20)

,Line by line,Fiscal Year,Employer (Petitioner) Name,Tax ID,Industry (NAICS) Code,Petitioner City,Petitioner State,Petitioner Zip Code,New Employment Approval,New Employment Denial,Continuation Approval,Continuation Denial,Change with Same Employer Approval,Change with Same Employer Denial,New Concurrent Approval,New Concurrent Denial,Change of Employer Approval,Change of Employer Denial,Amended Approval,Amended Denial
0,1,2025,NaN,NaN,"54 - Professional, Scientific, and Technical S...",FRISCO,TX,75034.0,0,0,0,0,0,0,0,0,1,0,0,0
1,2,2025,NaN,274.0,"54 - Professional, Scientific, and Technical S...",GUILFORD,CT,6437.0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,2025,NaN,305.0,"54 - Professional, Scientific, and Technical S...",WASHINGTON,DC,20001.0,0,0,1,0,0,0,0,0,0,0,0,0
3,4,2025,NaN,3188.0,"54 - Professional, Scientific, and Technical S...",ARLINGTON,TX,76011.0,0,0,0,0,1,0,0,0,0,0,0,0
4,5,2025,NaN,4668.0,"54 - Professional, Scientific, and Technical S...",CHICAGO,IL,60625.0,2,0,0,0,0,0,0,0,0,0,0,0
5,6,2025,NaN,5680.0,"54 - Professional, Scientific, and Technical S...",BOSTON,MA,2110.0,1,0,0,0,0,0,0,0,0,0,0,0
6,7,2025,NaN,6264.0,"54 - Professional, Scientific, and Technical S...",HOUSTON,TX,77027.0,1,0,0,0,0,0,0,0,0,0,0,0
7,8,2025,NaN,6473.0,72 - Accommodation and Food Services,TAOS,NM,87571.0,1,0,0,0,0,0,0,0,0,0,0,0
8,9,2025,NaN,7191.0,"54 - Professional, Scientific, and Technical S...",HENDERSON,NV,89012.0,1,0,0,0,0,0,0,0,0,0,0,0
9,10,2025,NaN,7351.0,"54 - Professional, Scientific, and Technical S...",NEW YORK,NY,10006.0,0,0,0,0,1,0,0,0,0,0,0,0
10,11,2025,1 BETHESDA DRIVE OPERATING COMPANY LLC DBA ELD...,5614.0,62 - Health Care and Social Assistance,HORNELL,NY,14843.0,0,0,1,0,0,0,0,0,0,0,0,0
11,12,2025,1 COCHRAN BUICK GMC INC,513.0,44-45 - Retail Trade,MONROEVILLE,PA,15146.0,1,0,0,0,0,0,0,0,0,0,0,0
12,13,2025,1 NET SOFTWARE TECHNOLOGIES,9485.0,"54 - Professional, Scientific, and Technical S...",IRVING,TX,75063.0,0,0,0,0,0,0,0,0,0,0,1,0
13,14,2025,1 TO 1 THERAPIES INC,1480.0,62 - Health Care and Social Assistance,LONG BEACH,CA,90808.0,0,0,1,0,0,0,0,0,0,0,0,0
14,15,2025,1 WORLD IT SOLUTIONS LLC,7090.0,61 - Educational Services,WYLIE,TX,75098.0,0,0,0,0,0,0,0,0,1,0,0,0
15,16,2025,1-800-FLOWERS COM INC,7311.0,44-45 - Retail Trade,JERICHO,NY,11753.0,1,0,1,0,2,0,0,0,0,0,2,0
16,17,2025,1AND8 INC DBA FIGURE8,4317.0,"71 - Arts, Entertainment, and Recreation",AUSTIN,TX,78701.0,1,0,0,0,0,0,0,0,0,0,0,0
17,18,2025,1BYONE PRODUCTS INC,4817.0,42 - Wholesale Trade,ONTARIO,CA,91761.0,0,0,0,0,0,0,0,0,1,0,0,0
18,19,2025,1HCS FRANCHISING LLC,6553.0,53 - Real Estate and Rental and Leasing,ENCINO,CA,91436.0,1,0,0,0,0,0,0,0,0,0,0,0
19,20,2025,1HCS FRANCHISING LLC D B A 1HEART CAREGIVER SE...,6553.0,53 - Real Estate and Rental and Leasing,ENCINO,CA,91436.0,1,0,0,0,0,0,0,0,0,0,0,0

Employer name listed in alphabetical order. 

**Initial thoughts to clean:**
- remove null /blank Employer Name
- Find definitions of the types of approval/denial
- look at which are niche categories that can be effectively ignored for the initial data question (small employers most likely)

In [21]:
df.shape

(115677, 20)

### Definitions of Columns (drop down):

- **Fiscal Year:** The fiscal year in which USCIS first recorded an approval or denial in the electronic systems. USCIS follows the U.S. Federal Government fiscal year (FY) calendar, so data sets presented by fiscal year cover Oct. 1 of one year to Sept. 30 of the next year. Applications and petitions USCIS receives on a given date are generally adjudicated on a later date. Therefore, data in the H-1B Employer Data Hub reflect the date we adjudicated the application or petition rather than the date received.
- **Employer Name:** Petitioner’s firm/employer name from I-129, Page 1, Part 1, Question 2 of the current form.
- **NAICS Code:** A character string that stands for an industry classification within the North American Industry Classification System from the Form I-129, Page 19, Section 1, Question 6. Data are presented at the two-digit level. For more information on the NAICS, visit the U.S. Census Bureau’s North American Industry Classification Code webpage.  NAICS code 99 means the industry is unknown. Any petition that had a blank code was assigned as 99 as well.
- **Tax ID:** The last four digits of the Petitioner’s Tax ID Number from the Form I-129, Page 1, Part 1, Question 5.
- **State:** Petitioner’s state from the Form I-129, Page 1, Part 1, Question 3. This is the State indicated in the mailing address of the employer and is not necessarily the beneficiary(ies) work location
- **City:**	Petitioner’s city from the Form I-129, Page 1, Part 1, Question 3. This is the City indicated in the mailing address of the employer and is not necessarily the beneficiary(ies) work location.
- **ZIP:** 	Petitioner’s five-digit ZIP code from the Form I-129, Petition for a Nonimmigrant Worker, Page 1, Part 1, Question 3. This is the ZIP code indicated in the mailing address of the employer and is not necessarily the beneficiary(ies) work location.
- **New Employment Approval:** Initially approved H-1B petitions with “New employment” selected on Part 2, Question 2 of the Form I-129. Number represents counts of workers approved. The beneficiary:
    1. Is outside the United States and holds no classification;
    2. Will begin employment in the United States for a new employer in a different nonimmigrant classification than the beneficiary currently holds; or
    3. Will work for the same employer but in a different nonimmigrant classification.
    
- **New Employment Denial**: Initially denied H-1B petitions with “New employment” selected on Part 2, Question 2 of the Form I-129. Number represents counts of workers denied.
- **Continuation Approval**: Approved H-1B petitions with “Continuation of previously approved employment without change with the same employer” selected on Part 2, Question 2 of the Form I-129. The beneficiary will continue to work in the same nonimmigrant classification currently held with no change to the employment. Number represents counts of workers approved.
- **Continuation Denial**: Denied H-1B petitions with “Continuation of previously approved employment without change with the same employer” selected on Part 2, Question 2 of the Form I-129.The beneficiary will be denied continuing employment in the same nonimmigrant classification currently held with no change to the employment. Number represents counts of workers denied.
- **Change with Same Employer Approval**: Approved H-1B petitions with “Change in previously approved employment” selected on Part 2, Question 2 of the Form I-129. This selection is used to notify USCIS of a non-material change to the previously approved employment, such as a change in job title without a material change in job duties. Number represents counts of workers approved.
- **Change with Same Employer Denial**:	Denied H-1B petitions with “Change in previously approved employment” selected on Part 2, Question 2 of the Form I-129 are those who applied and were denied a non-material change to the previously approved employment, such as a change in job title without a material change in job duties. Number represents counts of workers denied.
- **New Concurrent Approval** Approved H-1B petitions with “New concurrent employment” selected on Part 2, Question 2 of the Form I-129. The beneficiary will begin new employment with an additional employer in the same nonimmigrant classification the beneficiary currently holds while continuing to work for his or her current employer in the same classification. Number represents counts of workers approved.
- **New Concurrent Denial**: Denied H-1B petitions with “New concurrent employment” selected on Part 2, Question 2 of the Form I-129 are those denied a petition to begin new employment with an additional employer in the same nonimmigrant classification the beneficiary currently holds. The beneficiary would have continued working for his or her current employer in the same classification. Number represents counts of workers denied.
- **Change of Employer Approval:** Approved H -1B petitions with “Change of employer” selected on Part 2, Question 2 of the Form I-129. The beneficiary will begin employment working for a new employer in the same nonimmigrant classification that the beneficiary currently holds. Number represents counts of workers approved.
- **Change of Employer Denial:** Denied H-1B petitions with “Change of employer” selected on Part 2, Question 2 of the Form I-129 are those who applied and were denied beginning employment working for a new employer in the same nonimmigrant classification that the beneficiary currently holds. Number represents counts of workers denied.
- **Amended Approval** Approved H-1B petitions with “Amended petition” selected on Part 2, Question 2 of the Form I-129.  This selection is used to notify USCIS of a material change in the terms or conditions of employment or the beneficiary's eligibility as specified in the original approved petition, or to request substitutions. Number represents counts of workers approved.
- **Amended Denial** Denied H -1B petitions with “Amended petition” are those applied for and were denied selected on Part 2, Question 2 of the Form I-129 a material change in the terms or conditions of employment, or the beneficiary's eligibility as specified in the original approved petition. Number represents counts of workers denied.

### Initial EDA and goals

1. Identify NULL in Employer Name and remove if small
2. Summary data for the types of petition decisions
3. Identify largest 'insourcers' since 2023, any trends

We'll need to do summary statistics for the number of workers approved/denied etc in each record, first checking dtypes potentially converting to numbers

In [22]:
# check data types in the dataframe
df.dtypes

Line by line                           object
Fiscal Year                             int64
Employer (Petitioner) Name             object
Tax ID                                float64
Industry (NAICS) Code                  object
Petitioner City                        object
Petitioner State                       object
Petitioner Zip Code                   float64
New Employment Approval                object
New Employment Denial                   int64
Continuation Approval                  object
Continuation Denial                     int64
Change with Same Employer Approval     object
Change with Same Employer Denial        int64
New Concurrent Approval                 int64
New Concurrent Denial                   int64
Change of Employer Approval            object
Change of Employer Denial               int64
Amended Approval                       object
Amended Denial                          int64
dtype: object

### Clean up Columns dtype & format

In [23]:
df.columns

Index(['Line by line', 'Fiscal Year   ', 'Employer (Petitioner) Name',
       'Tax ID', 'Industry (NAICS) Code', 'Petitioner City',
       'Petitioner State', 'Petitioner Zip Code', 'New Employment Approval',
       'New Employment Denial', 'Continuation Approval', 'Continuation Denial',
       'Change with Same Employer Approval',
       'Change with Same Employer Denial', 'New Concurrent Approval',
       'New Concurrent Denial', 'Change of Employer Approval',
       'Change of Employer Denial', 'Amended Approval', 'Amended Denial'],
      dtype='object')

In [24]:
print(df.columns.tolist())

['Line by line', 'Fiscal Year   ', 'Employer (Petitioner) Name', 'Tax ID', 'Industry (NAICS) Code', 'Petitioner City', 'Petitioner State', 'Petitioner Zip Code', 'New Employment Approval', 'New Employment Denial', 'Continuation Approval', 'Continuation Denial', 'Change with Same Employer Approval', 'Change with Same Employer Denial', 'New Concurrent Approval', 'New Concurrent Denial', 'Change of Employer Approval', 'Change of Employer Denial', 'Amended Approval', 'Amended Denial']

Strip whitespace

In [25]:
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('\xa0', ' ', regex=True)  # replace non-breaking spaces

In [26]:
df.columns.tolist()

['Line by line',
 'Fiscal Year',
 'Employer (Petitioner) Name',
 'Tax ID',
 'Industry (NAICS) Code',
 'Petitioner City',
 'Petitioner State',
 'Petitioner Zip Code',
 'New Employment Approval',
 'New Employment Denial',
 'Continuation Approval',
 'Continuation Denial',
 'Change with Same Employer Approval',
 'Change with Same Employer Denial',
 'New Concurrent Approval',
 'New Concurrent Denial',
 'Change of Employer Approval',
 'Change of Employer Denial',
 'Amended Approval',
 'Amended Denial']

In [27]:
# change dtype to integer for relevant columns
df['New Employment Approval'] = pd.to_numeric(df['New Employment Approval'], errors='coerce').astype('Int64')
df['New Employment Denial'] = pd.to_numeric(df['New Employment Denial'], errors='coerce').astype('Int64')
df['Continuation Approval'] = pd.to_numeric(df['Continuation Approval'], errors='coerce').astype('Int64')
df['Continuation Denial'] = pd.to_numeric(df['Continuation Denial'], errors='coerce').astype('Int64')
df['Change with Same Employer Approval'] = pd.to_numeric(df['Change with Same Employer Approval'], errors='coerce').astype('Int64')
df['Change with Same Employer Denial'] = pd.to_numeric(df['Change with Same Employer Denial'], errors='coerce').astype('Int64')
df['New Concurrent Approval'] = pd.to_numeric(df['New Concurrent Approval'], errors='coerce').astype('Int64')
df['New Concurrent Denial'] = pd.to_numeric(df['New Concurrent Denial'], errors='coerce').astype('Int64')
df['Change of Employer Approval'] = pd.to_numeric(df['Change of Employer Approval'], errors='coerce').astype('Int64')
df['Change of Employer Denial'] = pd.to_numeric(df['Change of Employer Denial'], errors='coerce').astype('Int64')
df['Amended Approval'] = pd.to_numeric(df['Amended Approval'], errors='coerce').astype('Int64')
df['Amended Denial'] = pd.to_numeric(df['Amended Denial'], errors='coerce').astype('Int64')

In [28]:
df.dtypes

Line by line                           object
Fiscal Year                             int64
Employer (Petitioner) Name             object
Tax ID                                float64
Industry (NAICS) Code                  object
Petitioner City                        object
Petitioner State                       object
Petitioner Zip Code                   float64
New Employment Approval                 Int64
New Employment Denial                   Int64
Continuation Approval                   Int64
Continuation Denial                     Int64
Change with Same Employer Approval      Int64
Change with Same Employer Denial        Int64
New Concurrent Approval                 Int64
New Concurrent Denial                   Int64
Change of Employer Approval             Int64
Change of Employer Denial               Int64
Amended Approval                        Int64
Amended Denial                          Int64
dtype: object

In [29]:
# zip code from float to object
df['Petitioner Zip Code'] = df['Petitioner Zip Code'].astype('string')
df['Petitioner Zip Code'] = df['Petitioner Zip Code'].str.split('.').str[0]  # remove decimal part if present

To avoid confusion, **all instances of the term 'petitioner' will be replaced with employer for column names**.

In [31]:
# rename columns to replace 'Petitioner' with 'Employer'
df = df.rename(columns=lambda x: x.replace('Petitioner', 'Employer'))

In [32]:
df.columns.tolist()

['Line by line',
 'Fiscal Year',
 'Employer (Employer) Name',
 'Tax ID',
 'Industry (NAICS) Code',
 'Employer City',
 'Employer State',
 'Employer Zip Code',
 'New Employment Approval',
 'New Employment Denial',
 'Continuation Approval',
 'Continuation Denial',
 'Change with Same Employer Approval',
 'Change with Same Employer Denial',
 'New Concurrent Approval',
 'New Concurrent Denial',
 'Change of Employer Approval',
 'Change of Employer Denial',
 'Amended Approval',
 'Amended Denial']

In [33]:
#rename Employer (Employer) Name to Employer Name for clarity
df = df.rename(columns={'Employer (Employer) Name': 'Employer Name'})

In [34]:
df.columns.tolist()

['Line by line',
 'Fiscal Year',
 'Employer Name',
 'Tax ID',
 'Industry (NAICS) Code',
 'Employer City',
 'Employer State',
 'Employer Zip Code',
 'New Employment Approval',
 'New Employment Denial',
 'Continuation Approval',
 'Continuation Denial',
 'Change with Same Employer Approval',
 'Change with Same Employer Denial',
 'New Concurrent Approval',
 'New Concurrent Denial',
 'Change of Employer Approval',
 'Change of Employer Denial',
 'Amended Approval',
 'Amended Denial']

### Remove null employer names

In [35]:
df['Employer Name'].isnull().sum()

12

only 12 Nulls in whole dataframe

In [36]:
df[df['Employer Name'].isnull()]

,Line by line,Fiscal Year,Employer Name,Tax ID,Industry (NAICS) Code,Employer City,Employer State,Employer Zip Code,New Employment Approval,New Employment Denial,Continuation Approval,Continuation Denial,Change with Same Employer Approval,Change with Same Employer Denial,New Concurrent Approval,New Concurrent Denial,Change of Employer Approval,Change of Employer Denial,Amended Approval,Amended Denial
0,1,2025,NaN,NaN,"54 - Professional, Scientific, and Technical S...",FRISCO,TX,75034,0,0,0,0,0,0,0,0,1,0,0,0
1,2,2025,NaN,274.0,"54 - Professional, Scientific, and Technical S...",GUILFORD,CT,6437,0,0,1,0,0,0,0,0,0,0,0,0
2,3,2025,NaN,305.0,"54 - Professional, Scientific, and Technical S...",WASHINGTON,DC,20001,0,0,1,0,0,0,0,0,0,0,0,0
3,4,2025,NaN,3188.0,"54 - Professional, Scientific, and Technical S...",ARLINGTON,TX,76011,0,0,0,0,1,0,0,0,0,0,0,0
4,5,2025,NaN,4668.0,"54 - Professional, Scientific, and Technical S...",CHICAGO,IL,60625,2,0,0,0,0,0,0,0,0,0,0,0
5,6,2025,NaN,5680.0,"54 - Professional, Scientific, and Technical S...",BOSTON,MA,2110,1,0,0,0,0,0,0,0,0,0,0,0
6,7,2025,NaN,6264.0,"54 - Professional, Scientific, and Technical S...",HOUSTON,TX,77027,1,0,0,0,0,0,0,0,0,0,0,0
7,8,2025,NaN,6473.0,72 - Accommodation and Food Services,TAOS,NM,87571,1,0,0,0,0,0,0,0,0,0,0,0
8,9,2025,NaN,7191.0,"54 - Professional, Scientific, and Technical S...",HENDERSON,NV,89012,1,0,0,0,0,0,0,0,0,0,0,0
9,10,2025,NaN,7351.0,"54 - Professional, Scientific, and Technical S...",NEW YORK,NY,10006,0,0,0,0,1,0,0,0,0,0,0,0
51852,"51,853",2024,NaN,3581.0,"54 - Professional, Scientific, and Technical S...",LAFAYETTE,CA,94549,0,0,1,0,0,0,0,0,0,0,0,0
51853,"51,854",2024,NaN,4245.0,62 - Health Care and Social Assistance,DAVIE,FL,33328,1,0,0,0,0,0,0,0,0,0,0,0

Barely 15 workers between the 12 here in one year. Drop

In [37]:
# drop rows with missing employer names from df
df = df.dropna(subset=['Employer Name'])

In [ ]:
df.shape # 12 less than earlier - confirmed NaNs removed

(115665, 20)

# Immediate Goals

- Since headcount efficiency is about numbers, look at the biggest companies first - Mag 7, Intel, Tata etc
- Examine new approvals vs continuation, rejections etc.

In [47]:
# search for mag 7 companies in employer names - loose match to find the specific naming
mag7_companies = ['Amazon', 'NVIDIA', 'Meta', 'Facebook', 'Tesla']
for company in mag7_companies:
    matches = df[df['Employer Name'].str.contains(company, case=False, na=False)]
    print(f"Matches for {company}:")
    print(matches[['Employer Name']].drop_duplicates())
    print("\n")

Matches for Amazon:
                           Employer Name
2444              AMAZON ADVERTISING LLC
2446             AMAZON COM SERVICES LLC
2460            AMAZON DATA SERVICES INC
2465   AMAZON DEVELOPMENT CENTER U S INC
2473    AMAZON DEVELOPMENT CENTER US INC
2478            AMAZON MEDIA VENTURE LLC
2480                 AMAZON PAYMENTS INC
2481          AMAZON PRODUCE NETWORK LLC
2482                   AMAZON RETAIL LLC
2483                  AMAZON STUDIOS LLC
2484             AMAZON WEB SERVICES INC
2490             AMAZON.COM SERVICES LLC
2491              AMAZONCOM SERVICES LLC
54930        AMAZON CAPITAL SERVICES INC
54931                  AMAZON COM CA INC
54967       AMAZON REGISTRY SERVICES INC
54978                  AMAZON.COM CA INC


Matches for NVIDIA:
            Employer Name
32334  NVIDIA CORPORATION
91715         NVIDIA CORP


Matches for Meta:
                                            Employer Name
2111                                        ALLIED METALS
6891    BOSTON ELECTROMETALLURGICAL CORP DBA BOSTON METAL
6892    BOSTON ELECTROMETALLURGICAL CORPORATION DBA BO...
8301                    CARLISLE ARCHITECTURAL METALS LLC
9121                                    CHEMETALL U S INC
...                                                   ...
107612                          THE FEDERAL METAL COMPANY
108709                     TINTIC CONSOLIDATED METALS LLC
108752                 TITAN METAL INDUSTRIES INC DBA TIT
109330                                    TREK METALS INC
110375                    UNITED ARCHITECTURAL METALS INC

[156 rows x 1 columns]


Matches for Facebook:
Empty DataFrame
Columns: [Employer Name]
Index: []


Matches for Tesla:
                  Employer Name
24295            JOHN TESLA INC
44818                 TESLA INC
44820    TESLA NANOCOATINGS INC
107105      TESLA DENTISTRY LLC
107115  TESLAC IT SOLUTIONS LLC

### Magnificent 7 entities registered with USCIS:

#### Apple
- Apple Inc
- Apple Payments Services LLC ([Official Apple Support page](https://support.apple.com/en-ca/102396) - *Apple Payments Services LLC, a subsidiary of Apple Inc., is a service provider of Goldman Sachs Bank USA for Apple Card and Savings Accounts*)

#### Microsoft

- Microsoft Corporation

#### Google

- Google LLC
- Google Public Sector LLC ([Official website source](https://publicsector.google) - "*Google is leading a new era of innovation, bringing the best of AI and security to mission*")

#### Amazon

There are over 30-35 entities from the data source that are likely "Amazon" as a lay person knows it. Nearly all of them are in VA, and most have single digit options

Note: there is no . in the original data source, so "Amazon.com" appears as "AMAZON COM"

- [Amazon Advertising LLC](https://advertising.amazon.com) - advertising for businesses
- [Amazon.com Services](https://www.bloomberg.com/profile/company/0128542D:US#:~:text=Amazon.com%20Services%20LLC%20provides,Services%20distributes%20its%20products%20worldwide) - their eCommerce subsidiary, a huge chunk of their overall petitions
- Amazon Data Services Inc - usually referred to as Amazon Web Services (AWS). There is a registry on [UK Companies House](https://find-and-update.company-information.service.gov.uk/company/09959151/officers) under this name though, with two active directors both referring to either AWS or Amazon
- AMAZON DEVELOPMENT CENTER U S INC
- AMAZON DEVELOPMENT CENTER US INC - both of these registered in VA, the home of Amazon's largest data centre and WA, their corporate HQ
- Amazon Media Venture LLC - based on VA, only two sponsors in 2025,
- Amazon Payments, Inc. - based in VA, Provider of Amazon Pay
- Amazon Studios LLC - based in VA, only 7 sponsors in 2025

#### Meta

#### NVIDIA

#### Tesla

In [39]:
# define magnificent 7 tech companies
magnificent_7 = [
    'Apple Inc.',
    'Microsoft Corporation',
    'Alphabet Inc.',
    'Amazon.com, Inc.',
    'NVIDIA Corporation',
    'Meta Platforms, Inc.',
    'Tesla, Inc.'
]