## Imports

In [2]:
import pandas as pd
import numpy as np

To stop the download being too large, I downloaded 2017-2025 in three separate files, which I'll soon combine into one df

In [53]:
df_2425 = pd.read_csv(
    'H1b data/h1b_data2024-25.csv',
    engine='python',     # more tolerant than the C engine
    sep=None,            # sniff the delimiter (comma/semicolon/tab)
    encoding='utf-16',  # file is UTF-16 encoded
    on_bad_lines='warn', # show which lines are malformed (pandas >=1.3)
)
df_2123 = pd.read_csv(
    'H1b data/h1b_data2021-23.csv',
    engine='python',     # more tolerant than the C engine
    sep=None,            # sniff the delimiter (comma/semicolon/tab)
    encoding='utf-16',  # file is UTF-16 encoded
    on_bad_lines='warn', # show which lines are malformed (pandas >=1.3)
)
df_1720 = pd.read_csv(
    'H1b data/h1b_data2017-20.csv',
    engine='python',     # more tolerant than the C engine
    sep=None,            # sniff the delimiter (comma/semicolon/tab)
    encoding='utf-16',  # file is UTF-16 encoded
    on_bad_lines='warn', # show which lines are malformed (pandas >=1.3)
)

## Intro data

In [54]:
df_2425.head(20)

,Line by line,Fiscal Year,Employer (Petitioner) Name,Tax ID,Industry (NAICS) Code,Petitioner City,Petitioner State,Petitioner Zip Code,New Employment Approval,New Employment Denial,Continuation Approval,Continuation Denial,Change with Same Employer Approval,Change with Same Employer Denial,New Concurrent Approval,New Concurrent Denial,Change of Employer Approval,Change of Employer Denial,Amended Approval,Amended Denial
0,1,2025,NaN,NaN,"54 - Professional, Scientific, and Technical S...",FRISCO,TX,75034.0,0,0,0,0,0,0,0,0,1,0,0,0
1,2,2025,NaN,274.0,"54 - Professional, Scientific, and Technical S...",GUILFORD,CT,6437.0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,2025,NaN,305.0,"54 - Professional, Scientific, and Technical S...",WASHINGTON,DC,20001.0,0,0,1,0,0,0,0,0,0,0,0,0
3,4,2025,NaN,3188.0,"54 - Professional, Scientific, and Technical S...",ARLINGTON,TX,76011.0,0,0,0,0,1,0,0,0,0,0,0,0
4,5,2025,NaN,4668.0,"54 - Professional, Scientific, and Technical S...",CHICAGO,IL,60625.0,2,0,0,0,0,0,0,0,0,0,0,0
5,6,2025,NaN,5680.0,"54 - Professional, Scientific, and Technical S...",BOSTON,MA,2110.0,1,0,0,0,0,0,0,0,0,0,0,0
6,7,2025,NaN,6264.0,"54 - Professional, Scientific, and Technical S...",HOUSTON,TX,77027.0,1,0,0,0,0,0,0,0,0,0,0,0
7,8,2025,NaN,6473.0,72 - Accommodation and Food Services,TAOS,NM,87571.0,1,0,0,0,0,0,0,0,0,0,0,0
8,9,2025,NaN,7191.0,"54 - Professional, Scientific, and Technical S...",HENDERSON,NV,89012.0,1,0,0,0,0,0,0,0,0,0,0,0
9,10,2025,NaN,7351.0,"54 - Professional, Scientific, and Technical S...",NEW YORK,NY,10006.0,0,0,0,0,1,0,0,0,0,0,0,0
10,11,2025,1 BETHESDA DRIVE OPERATING COMPANY LLC DBA ELD...,5614.0,62 - Health Care and Social Assistance,HORNELL,NY,14843.0,0,0,1,0,0,0,0,0,0,0,0,0
11,12,2025,1 COCHRAN BUICK GMC INC,513.0,44-45 - Retail Trade,MONROEVILLE,PA,15146.0,1,0,0,0,0,0,0,0,0,0,0,0
12,13,2025,1 NET SOFTWARE TECHNOLOGIES,9485.0,"54 - Professional, Scientific, and Technical S...",IRVING,TX,75063.0,0,0,0,0,0,0,0,0,0,0,1,0
13,14,2025,1 TO 1 THERAPIES INC,1480.0,62 - Health Care and Social Assistance,LONG BEACH,CA,90808.0,0,0,1,0,0,0,0,0,0,0,0,0
14,15,2025,1 WORLD IT SOLUTIONS LLC,7090.0,61 - Educational Services,WYLIE,TX,75098.0,0,0,0,0,0,0,0,0,1,0,0,0
15,16,2025,1-800-FLOWERS COM INC,7311.0,44-45 - Retail Trade,JERICHO,NY,11753.0,1,0,1,0,2,0,0,0,0,0,2,0
16,17,2025,1AND8 INC DBA FIGURE8,4317.0,"71 - Arts, Entertainment, and Recreation",AUSTIN,TX,78701.0,1,0,0,0,0,0,0,0,0,0,0,0
17,18,2025,1BYONE PRODUCTS INC,4817.0,42 - Wholesale Trade,ONTARIO,CA,91761.0,0,0,0,0,0,0,0,0,1,0,0,0
18,19,2025,1HCS FRANCHISING LLC,6553.0,53 - Real Estate and Rental and Leasing,ENCINO,CA,91436.0,1,0,0,0,0,0,0,0,0,0,0,0
19,20,2025,1HCS FRANCHISING LLC D B A 1HEART CAREGIVER SE...,6553.0,53 - Real Estate and Rental and Leasing,ENCINO,CA,91436.0,1,0,0,0,0,0,0,0,0,0,0,0

In [52]:
df_2123.head(20)

,Line by line,Fiscal Year,Employer (Petitioner) Name,Tax ID,Industry (NAICS) Code,Petitioner City,Petitioner State,Petitioner Zip Code,New Employment Approval,New Employment Denial,Continuation Approval,Continuation Denial,Change with Same Employer Approval,Change with Same Employer Denial,New Concurrent Approval,New Concurrent Denial,Change of Employer Approval,Change of Employer Denial,Amended Approval,Amended Denial
0,1,2023,NaN,NaN,NaN,FAIRFIELD,IA,52556.0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,2023,NaN,8070.0,51 - Information,WILMINGTON,DE,19801.0,1,0,0,0,0,0,0,0,0,0,0,0
2,3,2023,NaN,8424.0,"54 - Professional, Scientific, and Technical S...",BROOKLYN,NY,11220.0,0,0,1,0,0,0,0,0,0,0,0,0
3,4,2023,NaN,8435.0,52 - Finance and Insurance,NEW YORK,NY,10017.0,0,0,1,0,0,0,0,0,0,0,0,0
4,5,2023,1 800 CONTACTS INC,1643.0,42 - Wholesale Trade,DRAPER,UT,84020.0,0,0,0,0,0,0,0,0,2,0,0,0
5,6,2023,1 800 FLOWERS COM INC,7311.0,44-45 - Retail Trade,JERICHO,NY,11753.0,0,0,0,0,2,0,0,0,2,0,1,0
6,7,2023,1 ADVANCING EDUCATION LLC,2050.0,"54 - Professional, Scientific, and Technical S...",LOS ANGELES,CA,90057.0,0,0,0,0,0,0,0,0,1,0,0,0
7,8,2023,1 BETHESDA DRIVE OPERATING COMPANY LLC DBA ELD...,5614.0,62 - Health Care and Social Assistance,HORNELL,NY,14843.0,0,0,1,0,0,0,0,0,0,0,0,0
8,9,2023,1 HOTEL SOUTH BEACH INC,9513.0,72 - Accommodation and Food Services,MIAMI BEACH,FL,33139.0,0,0,1,0,0,0,0,0,0,0,0,0
9,10,2023,1 PURPLE LABS INC,2030.0,"54 - Professional, Scientific, and Technical S...",AGOURA HILLS,CA,91301.0,0,0,0,0,0,0,1,0,0,0,0,1
10,11,2023,1A1 INNOVATIONS LLC,9911.0,"54 - Professional, Scientific, and Technical S...",MADEIRA BEACH,FL,33708.0,0,0,0,0,0,0,0,0,0,0,1,0
11,12,2023,1CONNECT TECHNOLOGIES INC,5789.0,"54 - Professional, Scientific, and Technical S...",ALPHARETTA,GA,30022.0,1,0,0,0,0,0,0,0,0,0,0,0
12,13,2023,1HCS FRANCHISING LLC DBA 1HEART CAREGIVER SERV...,6553.0,53 - Real Estate and Rental and Leasing,TARZANA,CA,91356.0,1,0,0,0,0,0,0,0,0,0,0,0
13,14,2023,1LIFE HEALTHCARE INC,7204.0,62 - Health Care and Social Assistance,SAN FRANCISCO,CA,94111.0,1,0,0,0,2,0,0,0,0,0,0,0
14,15,2023,1NTEGER LLC D/B/A KHARON,6378.0,51 - Information,SANTA MONICA,CA,90403.0,0,0,0,0,0,0,0,0,0,0,1,0
15,16,2023,1POINT3ACRES LLC,301.0,51 - Information,BELLEVUE,WA,98005.0,0,0,1,0,0,0,0,0,0,0,2,0
16,17,2023,1POINT3ACRES LLC,301.0,"54 - Professional, Scientific, and Technical S...",LAS VEGAS,NV,89102.0,0,0,1,0,0,0,0,0,0,0,0,0
17,18,2023,1RIVET INTERNATIONAL,4925.0,44-45 - Retail Trade,RESTON,VA,20191.0,0,0,0,0,0,0,0,0,0,0,1,0
18,19,2023,1SHARPE CAPITAL LLC,2436.0,52 - Finance and Insurance,OAKLAND,CA,94612.0,0,0,0,0,0,0,0,0,1,0,0,0
19,20,2023,1ST AMERICARE LLC,9989.0,62 - Health Care and Social Assistance,STERLING,VA,20166.0,0,1,0,0,0,0,0,0,0,0,0,0

In [55]:
df_1720.head(20)

,Line by line,Fiscal Year,Employer (Petitioner) Name,Tax ID,Industry (NAICS) Code,Petitioner City,Petitioner State,Petitioner Zip Code,New Employment Approval,New Employment Denial,Continuation Approval,Continuation Denial,Change with Same Employer Approval,Change with Same Employer Denial,New Concurrent Approval,New Concurrent Denial,Change of Employer Approval,Change of Employer Denial,Amended Approval,Amended Denial
0,1,2020,NaN,458.0,62 - Health Care and Social Assistance,EMERYVILLE,CA,94608.0,0,0,1,0,0,0,0,0,0,0,0,0
1,2,2020,NaN,777.0,"54 - Professional, Scientific, and Technical S...",GLENDORA,CA,91740.0,1,0,0,0,0,0,0,0,0,0,0,0
2,3,2020,NaN,3557.0,"71 - Arts, Entertainment, and Recreation",ASTORIA,NY,11106.0,0,1,0,0,0,0,0,0,0,0,0,0
3,4,2020,1 800 FLOWERS COM INC,7311.0,44-45 - Retail Trade,CARLE PLACE,NY,11514.0,1,0,1,0,1,0,0,0,1,0,0,0
4,5,2020,1 BETHESDA DRIVE OPERATING CO LLC,5614.0,62 - Health Care and Social Assistance,HORNELL,NY,14843.0,0,0,0,0,0,0,0,0,1,0,0,0
5,6,2020,1 DUST TECHNOLOGY LLC,5330.0,NaN,CHESTERFIELD,MO,63017.0,0,1,0,0,0,0,0,0,0,0,0,0
6,7,2020,1 MODEL MANAGEMENT LLC DBA ONE,1809.0,"71 - Arts, Entertainment, and Recreation",NEW YORK,NY,10012.0,0,0,0,0,0,0,0,1,0,0,0,0
7,8,2020,"1 POINT SYSTEM, LLC.",6496.0,"54 - Professional, Scientific, and Technical S...",FORT MILL,SC,29708.0,1,0,0,0,0,0,0,0,0,0,0,0
8,9,2020,1 SOURCE CONSULTING INC,405.0,"54 - Professional, Scientific, and Technical S...",WASHINGTON,DC,20005.0,0,0,1,0,0,0,0,0,0,0,0,0
9,10,2020,1 STOP BUSINESS SERVICES INC,1500.0,"54 - Professional, Scientific, and Technical S...",MONTEREY PARK,CA,91755.0,1,0,0,0,0,0,0,0,0,0,0,0
10,11,2020,1A LIFESAFER INC,4685.0,31-33 - Manufacturing,CINCINNATI,OH,45241.0,1,0,0,0,0,0,0,0,0,0,0,0
11,12,2020,1AND8 INC DBA FIGURE8,4317.0,"71 - Arts, Entertainment, and Recreation",NEW YORK,NY,10013.0,0,0,0,0,0,0,0,0,1,0,0,0
12,13,2020,1BYONE PRODUCTS INC,4817.0,NaN,ONTARIO,CA,91761.0,0,1,0,0,0,0,0,0,0,0,0,0
13,14,2020,1LIFE HEALTHCARE INC,NaN,62 - Health Care and Social Assistance,SAN FRANCISCO,CA,94111.0,0,0,0,0,0,0,0,0,1,0,0,0
14,15,2020,1LIFE HEALTHCARE INC,7204.0,62 - Health Care and Social Assistance,SAN FRANCISCO,CA,94104.0,0,0,0,0,0,0,0,0,2,0,0,0
15,16,2020,1LIFE HEALTHCARE INC,7204.0,62 - Health Care and Social Assistance,SAN FRANCISCO,CA,94111.0,0,0,1,0,0,0,0,0,1,0,0,0
16,17,2020,1NTEGER LLC D/B/A KHARON,6378.0,52 - Finance and Insurance,SANTA MONICA,CA,90403.0,2,0,0,0,0,0,0,0,1,0,0,0
17,18,2020,1PERFECTCHOICE INC,454.0,42 - Wholesale Trade,CITY OF INDUSTRY,CA,91789.0,0,0,0,0,0,0,0,0,1,0,0,0
18,19,2020,1POINT3ACRES LLC,301.0,NaN,BELLEVUE,WA,98005.0,0,0,0,0,0,0,0,0,1,0,1,0
19,20,2020,1ST ADVANTAGE BACKGROUND SVCS CORP,9422.0,"54 - Professional, Scientific, and Technical S...",SAINT PETERSBURG,FL,33716.0,0,0,0,0,1,0,0,0,1,0,0,0

In [59]:
# compare column names in each dataframe to ensure they match
df_2425.columns.equals(df_2123.columns), df_2425.columns.equals(df_1720.columns)

(True, True)

Employer name listed in alphabetical order. 
All 3 datasets look same structure and columns match - combine them

### Initial thoughts to clean:
- Join the three dataframes
- Remove null /blank Employer Name
- Find definitions of the types of approval/denial
- look at which are niche categories that can be effectively ignored for the initial data question (small employers most likely)

In [86]:
# join the three dataframes
df = pd.concat([df_1720, df_2123, df_2425], ignore_index=True)

In [87]:
print(df.shape)

#check all records are present
print(len(df_1720) + len(df_2123) + len(df_2425))

# check columns match
df.columns.equals(df_2425.columns)

(521876, 20)
521876

True

### Definitions of Columns (drop down):

- **Fiscal Year:** The fiscal year in which USCIS first recorded an approval or denial in the electronic systems. USCIS follows the U.S. Federal Government fiscal year (FY) calendar, so data sets presented by fiscal year cover Oct. 1 of one year to Sept. 30 of the next year. Applications and petitions USCIS receives on a given date are generally adjudicated on a later date. Therefore, data in the H-1B Employer Data Hub reflect the date we adjudicated the application or petition rather than the date received.
- **Employer Name:** Petitioners firm/employer name from I-129, Page 1, Part 1, Question 2 of the current form.
- **NAICS Code:** A character string that stands for an industry classification within the North American Industry Classification System from the Form I-129, Page 19, Section 1, Question 6. Data are presented at the two-digit level. For more information on the NAICS, visit theU.S. Census Bureaus North American Industry Classification Code webpage. NAICS code 99 means the industry is unknown. Any petition that had a blank code was assigned as 99 as well.
- **Tax ID:** The last four digits of the Petitioners Tax ID Number from the Form I-129, Page 1, Part 1, Question 5.
- **State:** Petitioners state from the Form I-129, Page 1, Part 1, Question 3. This is the State indicated in the mailing address of the employer and is not necessarily the beneficiary(ies) work location
- **City:**	Petitioners city from the Form I-129, Page 1, Part 1, Question 3. This is the City indicated in the mailing address of the employer and is not necessarily the beneficiary(ies) work location.
- **ZIP:** 	Petitioners five-digit ZIP code from the Form I-129, Petition for a Nonimmigrant Worker, Page 1, Part 1, Question 3. This is the ZIP code indicated in the mailing address of the employer and is not necessarily the beneficiary(ies) work location.
- **New Employment Approval:** Initially approved H-1B petitions with New employment selected on Part 2, Question 2 of the Form I-129. Number represents counts of workers approved. The beneficiary:
    1. Is outside the United States and holds no classification;
    2. Will begin employment in the United States for a new employer in a different nonimmigrant classification than the beneficiary currently holds; or
    3. Will work for the same employer but in a different nonimmigrant classification.
    
- **New Employment Denial**: Initially denied H-1B petitions with New employment selected on Part 2, Question 2 of the Form I-129. Number represents counts of workers denied.
- **Continuation Approval**: Approved H-1B petitions with Continuation of previously approved employment without change with the same employer selected on Part 2, Question 2 of the Form I-129. The beneficiary will continue to work in the same nonimmigrant classification currently held with no change to the employment. Number represents counts of workers approved.
- **Continuation Denial**: Denied H-1B petitions with Continuation of previously approved employment without change with the same employer selected on Part 2, Question 2 of the Form I-129.The beneficiary will be denied continuing employment in the same nonimmigrant classification currently held with no change to the employment. Number represents counts of workers denied.
- **Change with Same Employer Approval**: Approved H-1B petitions with Change in previously approved employment selected on Part 2, Question 2 of the Form I-129. This selection is used to notify USCIS of a non-material change to the previously approved employment, such as a change in job title without a material change in job duties. Number represents counts of workers approved.
- **Change with Same Employer Denial**:	Denied H-1B petitions with Change in previously approved employment selected on Part 2, Question 2 of the Form I-129 are those who applied and were denied a non-material change to the previously approved employment, such as a change in job title without a material change in job duties. Number represents counts of workers denied.
- **New Concurrent Approval** Approved H-1B petitions with New concurrent employment selected on Part 2, Question 2 of the Form I-129. The beneficiary will begin new employment with an additional employer in the same nonimmigrant classification the beneficiary currently holds while continuing to work for his or her current employer in the same classification. Number represents counts of workers approved.
- **New Concurrent Denial**: Denied H-1B petitions with New concurrent employment selected on Part 2, Question 2 of the Form I-129 are those denied a petition to begin new employment with an additional employer in the same nonimmigrant classification the beneficiary currently holds. The beneficiary would have continued working for his or her current employer in the same classification. Number represents counts of workers denied.
- **Change of Employer Approval:** Approved H -1B petitions with Change of employer selected on Part 2, Question 2 of the Form I-129. The beneficiary will begin employment working for a new employer in the same nonimmigrant classification that the beneficiary currently holds. Number represents counts of workers approved.
- **Change of Employer Denial:** Denied H-1B petitions with Change of employer selected on Part 2, Question 2 of the Form I-129 are those who applied and were denied beginning employment working for a new employer in the same nonimmigrant classification that the beneficiary currently holds. Number represents counts of workers denied.
- **Amended Approval** Approved H-1B petitions with Amended petition selected on Part 2, Question 2 of the Form I-129. This selection is used to notify USCIS of a material change in the terms or conditions of employment or the beneficiary's eligibility as specified in the original approved petition, or to request substitutions. Number represents counts of workers approved.
- **Amended Denial** Denied H -1B petitions with Amended petition are those applied for and were denied selected on Part 2, Question 2 of the Form I-129 a material change in the terms or conditions of employment, or the beneficiary's eligibility as specified in the original approved petition. Number represents counts of workers denied.

### Initial EDA and goals

1. Identify NULL in Employer Name and remove if small
2. Summary data for the types of petition decisions
3. Identify largest 'insourcers' since 2023, any trends

We'll need to do summary statistics for the number of workers approved/denied etc in each record, first checking dtypes potentially converting to numbers

In [88]:
# check data types in the dataframe
df.dtypes

Line by line                           object
Fiscal Year                             int64
Employer (Petitioner) Name             object
Tax ID                                float64
Industry (NAICS) Code                  object
Petitioner City                        object
Petitioner State                       object
Petitioner Zip Code                   float64
New Employment Approval                object
New Employment Denial                  object
Continuation Approval                  object
Continuation Denial                     int64
Change with Same Employer Approval     object
Change with Same Employer Denial        int64
New Concurrent Approval                 int64
New Concurrent Denial                   int64
Change of Employer Approval            object
Change of Employer Denial               int64
Amended Approval                       object
Amended Denial                         object
dtype: object

### Clean up Columns dtype & format

In [89]:
df.columns

Index(['Line by line', 'Fiscal Year   ', 'Employer (Petitioner) Name',
       'Tax ID', 'Industry (NAICS) Code', 'Petitioner City',
       'Petitioner State', 'Petitioner Zip Code', 'New Employment Approval',
       'New Employment Denial', 'Continuation Approval', 'Continuation Denial',
       'Change with Same Employer Approval',
       'Change with Same Employer Denial', 'New Concurrent Approval',
       'New Concurrent Denial', 'Change of Employer Approval',
       'Change of Employer Denial', 'Amended Approval', 'Amended Denial'],
      dtype='object')

Strip whitespace

In [90]:
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace('\xa0', ' ', regex=True)  # replace non-breaking spaces

In [91]:
df.columns.tolist()

['Line by line',
 'Fiscal Year',
 'Employer (Petitioner) Name',
 'Tax ID',
 'Industry (NAICS) Code',
 'Petitioner City',
 'Petitioner State',
 'Petitioner Zip Code',
 'New Employment Approval',
 'New Employment Denial',
 'Continuation Approval',
 'Continuation Denial',
 'Change with Same Employer Approval',
 'Change with Same Employer Denial',
 'New Concurrent Approval',
 'New Concurrent Denial',
 'Change of Employer Approval',
 'Change of Employer Denial',
 'Amended Approval',
 'Amended Denial']

In [92]:
# change dtype to integer for relevant columns
df['New Employment Approval'] = pd.to_numeric(df['New Employment Approval'], errors='coerce').astype('Int64')
df['New Employment Denial'] = pd.to_numeric(df['New Employment Denial'], errors='coerce').astype('Int64')
df['Continuation Approval'] = pd.to_numeric(df['Continuation Approval'], errors='coerce').astype('Int64')
df['Continuation Denial'] = pd.to_numeric(df['Continuation Denial'], errors='coerce').astype('Int64')
df['Change with Same Employer Approval'] = pd.to_numeric(df['Change with Same Employer Approval'], errors='coerce').astype('Int64')
df['Change with Same Employer Denial'] = pd.to_numeric(df['Change with Same Employer Denial'], errors='coerce').astype('Int64')
df['New Concurrent Approval'] = pd.to_numeric(df['New Concurrent Approval'], errors='coerce').astype('Int64')
df['New Concurrent Denial'] = pd.to_numeric(df['New Concurrent Denial'], errors='coerce').astype('Int64')
df['Change of Employer Approval'] = pd.to_numeric(df['Change of Employer Approval'], errors='coerce').astype('Int64')
df['Change of Employer Denial'] = pd.to_numeric(df['Change of Employer Denial'], errors='coerce').astype('Int64')
df['Amended Approval'] = pd.to_numeric(df['Amended Approval'], errors='coerce').astype('Int64')
df['Amended Denial'] = pd.to_numeric(df['Amended Denial'], errors='coerce').astype('Int64')

In [93]:
# zip code from float to object
df['Petitioner Zip Code'] = df['Petitioner Zip Code'].astype('string')
df['Petitioner Zip Code'] = df['Petitioner Zip Code'].str.split('.').str[0]  # remove decimal part if present

In [94]:
df.dtypes

Line by line                           object
Fiscal Year                             int64
Employer (Petitioner) Name             object
Tax ID                                float64
Industry (NAICS) Code                  object
Petitioner City                        object
Petitioner State                       object
Petitioner Zip Code                    object
New Employment Approval                 Int64
New Employment Denial                   Int64
Continuation Approval                   Int64
Continuation Denial                     Int64
Change with Same Employer Approval      Int64
Change with Same Employer Denial        Int64
New Concurrent Approval                 Int64
New Concurrent Denial                   Int64
Change of Employer Approval             Int64
Change of Employer Denial               Int64
Amended Approval                        Int64
Amended Denial                          Int64
dtype: object

To avoid confusion, **all instances of the term 'petitioner' will be replaced with employer for column names**.

In [95]:
# rename columns to replace 'Petitioner' with 'Employer'
df = df.rename(columns=lambda x: x.replace('Petitioner', 'Employer'))

In [97]:
#rename Employer (Employer) Name to Employer Name for clarity
df = df.rename(columns={'Employer (Employer) Name': 'Employer Name'})

In [98]:
df.columns.tolist()

['Line by line',
 'Fiscal Year',
 'Employer Name',
 'Tax ID',
 'Industry (NAICS) Code',
 'Employer City',
 'Employer State',
 'Employer Zip Code',
 'New Employment Approval',
 'New Employment Denial',
 'Continuation Approval',
 'Continuation Denial',
 'Change with Same Employer Approval',
 'Change with Same Employer Denial',
 'New Concurrent Approval',
 'New Concurrent Denial',
 'Change of Employer Approval',
 'Change of Employer Denial',
 'Amended Approval',
 'Amended Denial']

### Remove null employer names

In [99]:
df['Employer Name'].isnull().sum()

25

only 12 Nulls in whole dataframe

In [100]:
df[df['Employer Name'].isnull()]

,Line by line,Fiscal Year,Employer Name,Tax ID,Industry (NAICS) Code,Employer City,Employer State,Employer Zip Code,New Employment Approval,New Employment Denial,Continuation Approval,Continuation Denial,Change with Same Employer Approval,Change with Same Employer Denial,New Concurrent Approval,New Concurrent Denial,Change of Employer Approval,Change of Employer Denial,Amended Approval,Amended Denial
0,1,2020,NaN,458.0,62 - Health Care and Social Assistance,EMERYVILLE,CA,94608,0,0,1,0,0,0,0,0,0,0,0,0
1,2,2020,NaN,777.0,"54 - Professional, Scientific, and Technical S...",GLENDORA,CA,91740,1,0,0,0,0,0,0,0,0,0,0,0
2,3,2020,NaN,3557.0,"71 - Arts, Entertainment, and Recreation",ASTORIA,NY,11106,0,1,0,0,0,0,0,0,0,0,0,0
58911,"58,912",2019,NaN,NaN,"54 - Professional, Scientific, and Technical S...",SANTA CLARA,CA,95054,0,0,1,0,0,0,0,0,0,0,0,0
121273,"121,274",2018,NaN,3224.0,"54 - Professional, Scientific, and Technical S...",PHOENIX,AZ,85007,0,0,1,0,0,0,0,0,0,0,0,0
180236,"180,237",2017,NaN,5622.0,NaN,HOUSTON,TX,77058,0,0,1,0,0,0,0,0,0,0,0,0
232993,1,2023,NaN,NaN,NaN,FAIRFIELD,IA,52556,0,1,0,0,0,0,0,0,0,0,0,0
232994,2,2023,NaN,8070.0,51 - Information,WILMINGTON,DE,19801,1,0,0,0,0,0,0,0,0,0,0,0
232995,3,2023,NaN,8424.0,"54 - Professional, Scientific, and Technical S...",BROOKLYN,NY,11220,0,0,1,0,0,0,0,0,0,0,0,0
232996,4,2023,NaN,8435.0,52 - Finance and Insurance,NEW YORK,NY,10017,0,0,1,0,0,0,0,0,0,0,0,0
290354,"57,362",2022,NaN,492.0,"54 - Professional, Scientific, and Technical S...",RENO,NV,89511,1,0,0,0,0,0,0,0,0,0,0,0
290355,"57,363",2022,NaN,1050.0,"54 - Professional, Scientific, and Technical S...",CINCINNATI,OH,45246,1,0,0,0,0,0,0,0,0,0,0,0
349975,"116,983",2021,NaN,1841.0,52 - Finance and Insurance,TAMPA,FL,33618,0,0,0,0,0,0,0,0,1,0,0,0
406199,1,2025,NaN,NaN,"54 - Professional, Scientific, and Technical S...",FRISCO,TX,75034,0,0,0,0,0,0,0,0,1,0,0,0
406200,2,2025,NaN,274.0,"54 - Professional, Scientific, and Technical S...",GUILFORD,CT,6437,0,0,1,0,0,0,0,0,0,0,0,0
406201,3,2025,NaN,305.0,"54 - Professional, Scientific, and Technical S...",WASHINGTON,DC,20001,0,0,1,0,0,0,0,0,0,0,0,0
406202,4,2025,NaN,3188.0,"54 - Professional, Scientific, and Technical S...",ARLINGTON,TX,76011,0,0,0,0,1,0,0,0,0,0,0,0
406203,5,2025,NaN,4668.0,"54 - Professional, Scientific, and Technical S...",CHICAGO,IL,60625,2,0,0,0,0,0,0,0,0,0,0,0
406204,6,2025,NaN,5680.0,"54 - Professional, Scientific, and Technical S...",BOSTON,MA,2110,1,0,0,0,0,0,0,0,0,0,0,0
406205,7,2025,NaN,6264.0,"54 - Professional, Scientific, and Technical S...",HOUSTON,TX,77027,1,0,0,0,0,0,0,0,0,0,0,0
406206,8,2025,NaN,6473.0,72 - Accommodation and Food Services,TAOS,NM,87571,1,0,0,0,0,0,0,0,0,0,0,0
406207,9,2025,NaN,7191.0,"54 - Professional, Scientific, and Technical S...",HENDERSON,NV,89012,1,0,0,0,0,0,0,0,0,0,0,0
406208,10,2025,NaN,7351.0,"54 - Professional, Scientific, and Technical S...",NEW YORK,NY,10006,0,0,0,0,1,0,0,0,0,0,0,0
458051,"51,853",2024,NaN,3581.0,"54 - Professional, Scientific, and Technical S...",LAFAYETTE,CA,94549,0,0,1,0,0,0,0,0,0,0,0,0
458052,"51,854",2024,NaN,4245.0,62 - Health Care and Social Assistance,DAVIE,FL,33328,1,0,0,0,0,0,0,0,0,0,0,0

Only 25 empty out of 500k, drop them

In [81]:
# drop rows with missing employer names from df
df = df.dropna(subset=['Employer Name'])

In [82]:
df.shape # 12 less than earlier - confirmed NaNs removed

(521851, 20)

# Immediate Goals

- Since headcount efficiency is about numbers, look at the biggest companies first - Mag 7 plus Intel, Tata etc
- Examine new approvals vs continuation, rejections etc.

In [143]:
# search for mag 7 companies in employer names - loose match to find the specific naming
mag7_companies = ['Apple', 'Microsoft', 'Google', 'Amazon', 'NVIDIA', 'Meta', 'Facebook', 'Tesla']
for company in mag7_companies:
    matches = df[df['Employer Name'].str.contains(company, case=False, na=False)]
    print(f"Matches for {company}:")
    print(matches[['Employer Name']].drop_duplicates())
    print("\n")

Matches for Apple:
                                     Employer Name
3869                      APPLE AMERICAN GROUP LLC
3870                                     APPLE INC
3878                             APPLE TREE DENTAL
3880                   APPLEDORE MEDICAL GROUP INC
3881             APPLES & ORANGES PUBLIC RELATIONS
...                                            ...
462366                    APPLETON DENTAL CARE LLC
465669           BIG APPLE OCCUPATIONAL SAFETY INC
481998                     GREEN APPLE ART ACADEMY
500871                        PINEAPPLE GAME DAVIS
506158  SANA GLOBAL INC D/B/A GREEN APPLE PHARMACY

[83 rows x 1 columns]


Matches for Microsoft:
                        Employer Name
33609                  MICROSOFT CORP
33613           MICROSOFT CORPORATION
94264          MICROSOFT CORPORATIOIN
210253  MICROSOFT OPS PUERTO RICO LLC
324202           MICROSOFT CORPORTION


Matches for Google:
                           Employer Name
21735                         GOOGLE LLC
143213   GOOGLE CAPITAL MGMT COMPANY LLC
143214                        GOOGLE INC
143232  GOOGLE VENTURES MANAGMENT CO LLC
254258          GOOGLE PUBLIC SECTOR LLC
370794                   GOOGLE SHANGHAI


Matches for Amazon:
                             Employer Name
2743                AMAZON ADVERTISING LLC
2745           AMAZON CAPITAL SERVICES INC
2746               AMAZON COM SERVICES INC
2757               AMAZON COM SERVICES LLC
2783    AMAZON COM SERVICES LLC F/K/A AMAZ
...                                    ...
293220  AMAZON.COM SVCS LLC F/K/A AMAZON.C
352769              AMAZON SOLUTIONS, INC.
352791  AMAZON.COM SERVICES LLC F/K/A AMAZ
408690              AMAZONCOM SERVICES LLC
461177                   AMAZON.COM CA INC

[72 rows x 1 columns]


Matches for NVIDIA:
            Employer Name
37169  NVIDIA CORPORATION
98036         NVIDIA CORP


Matches for Meta:
                                 Employer Name
459                              AA METALS INC
891                              ACHEMETAL INC
1364           ADVANCED SINTER METAL TECHS INC
1410         ADVANTAGE METALWORK FINISHING LLC
1908                      AIRE SHEET METAL INC
...                                        ...
505145  ROOFING AMERICA METAL FABRICATIONS LLC
507103                  SENOR METALS USA, INC.
512257                    TC METAL ROOFING LLC
514951      TITAN METAL INDUSTRIES INC DBA TIT
516574         UNITED ARCHITECTURAL METALS INC

[467 rows x 1 columns]


Matches for Facebook:
               Employer Name
18527           FACEBOOK INC
18540  FACEBOOK PAYMENTS INC
78448     FACEBOOK MIAMI INC


Matches for Tesla:
                  Employer Name
27983            JOHN TESLA INC
51169                 TESLA INC
225917         TESLA MOTORS INC
282583              TESLA, INC.
451019   TESLA NANOCOATINGS INC
513304      TESLA DENTISTRY LLC
513314  TESLAC IT SOLUTIONS LLC

We'll need to drill down to see the full lists

### Magnificent 7 entities registered with USCIS:

#### Apple
- Apple Inc
- Apple Payments Services LLC ([Official Apple Support page](https://support.apple.com/en-ca/102396) - *Apple Payments Services LLC, a subsidiary of Apple Inc., is a service provider of Goldman Sachs Bank USA for Apple Card and Savings Accounts*)

In [146]:
# print rows where Employer Name contains 'Apple '
apple_matches = df[df['Employer Name'].str.contains("Apple ", case=False, na=False)]
print(f"Matches for 'Apple':")
unique_apple = apple_matches[['Employer Name']].drop_duplicates()
print(unique_apple)
print(unique_apple.shape)

Matches for 'Apple':
                                            Employer Name
3869                             APPLE AMERICAN GROUP LLC
3870                                            APPLE INC
3878                                    APPLE TREE DENTAL
6824                               BIG APPLE GROUP NY LLC
6825                               BIG APPLE INFOTECH LLC
6826                    BIG APPLE SIGN CORP DBA BIG APPLE
21685                           GOOD APPLE PUBLISHING LLC
50725                     TECHROOTERS INC DBA MAPPLE TECH
63022                                 APPLE EXHIBITS CORP
66126                  BIG APPLE SIGN CORPORATION DBA BIG
66127                               BIG APPLE TESTING INC
103867                 RED APPLE GARDEN CHILD CARE CTR IN
114332                                      TINYAPPLE LLC
125274                      APPLE DENTAL & ASSOCIATES LLC
125285                                    APPLE T USA INC
180556                                 A IS FOR APPLE INC
183817                                   APPLE BEAUTY INC
183827                 APPLE MEDICAL CENTER & URGENT CARE
186629                           BLACKAPPLE SOLUTIONS LLC
215971                                   PINEAPPLE CO LLC
236832   APPLE BLOSSOM OCCUPATIONAL THERAPY SERVICES PLLC
236833                                APPLE FINANCING LLC
236845                                         APPLE INC.
236846                               APPLE PROCESSING LLC
236849                       APPLE TREE LIFE SCIENCES INC
239813  BIG APPLE SIGN CORPORATION DBA BIG APPLE VISUA...
239814                         BIG APPLE TITLE AGENCY INC
271532                      PINEAPPLE HOSPITALITY COMPANY
274205                   RED APPLE MANAGEMENT COMPANY LLC
294310                             APPLE TREE DAYCARE LLC
294312                      APPLE TREE INTERNATIONAL CORP
323133                      MAYER BROS APPLE PRODUCTS INC
324743                   MOBILITY PRO PT PC DBA APPLE PRO
353885                                APPLE AND HONEY LLC
353891                        APPLE PI CONSULTING LIMITED
372760                           HOLBERT APPLE ASSOCIATES
372761                       HOLBERT APPLE ASSOCIATES INC
409618                        APPLE PAYMENTS SERVICES LLC
409621          APPLE SENTITY INDEPENDENT PRODUCTIONS LLC
412361                        BIG APPLE MEDICAL CARE PLLC
425520                         GREEN APPLE ACUPUNCTURE PC
425521                         GREEN APPLE COUNSELING LLC
432977                           LITTLE APPLE ROOFING LLC
440905                              PINEAPPLE VENTURE LLC
462349                 APPLE AND HONEY LLC DBA HMH IRON D
462350                                  APPLE FREIGHT INC
465669                  BIG APPLE OCCUPATIONAL SAFETY INC
481998                            GREEN APPLE ART ACADEMY
500871                               PINEAPPLE GAME DAVIS
506158         SANA GLOBAL INC D/B/A GREEN APPLE PHARMACY
(50, 1)

With 50 unique entities to parse through, we need to rule some out while not missing the real ones through a period or something semantic.

In [147]:
# regex to filter out anything that does not begin with 'Apple ' and is followed by alphanumeric characters, spaces, hyphens, or ampersands
import re
pattern = r'^APPLE [A-Za-z0-9 &-]+$'
filtered_apple = unique_apple[unique_apple['Employer Name'].str.match(pattern)]
print(filtered_apple)
print(filtered_apple.shape)

                                           Employer Name
3869                            APPLE AMERICAN GROUP LLC
3870                                           APPLE INC
3878                                   APPLE TREE DENTAL
63022                                APPLE EXHIBITS CORP
125274                     APPLE DENTAL & ASSOCIATES LLC
125285                                   APPLE T USA INC
183817                                  APPLE BEAUTY INC
183827                APPLE MEDICAL CENTER & URGENT CARE
236832  APPLE BLOSSOM OCCUPATIONAL THERAPY SERVICES PLLC
236833                               APPLE FINANCING LLC
236846                              APPLE PROCESSING LLC
236849                      APPLE TREE LIFE SCIENCES INC
294310                            APPLE TREE DAYCARE LLC
294312                     APPLE TREE INTERNATIONAL CORP
353885                               APPLE AND HONEY LLC
353891                       APPLE PI CONSULTING LIMITED
409618                       APPLE PAYMENTS SERVICES LLC
409621         APPLE SENTITY INDEPENDENT PRODUCTIONS LLC
462349                APPLE AND HONEY LLC DBA HMH IRON D
462350                                 APPLE FREIGHT INC
(20, 1)

Looking more sensible

In [148]:
# Filter out industry terms clearly not related to Apple Inc
non_apple_terms = ['HONEY','DAYCARE', 'ASSOCIATES', 'LIFE SCIENCES', 'TREE', 'DENTAL', 'BEAUTY', 'MEDICAL', 'THERAPY', 'CONSULTING']
for term in non_apple_terms:
    filtered_apple = filtered_apple[~filtered_apple['Employer Name'].str.contains(term, case=False, na=False)]
print(filtered_apple)
print(filtered_apple.shape)

                                    Employer Name
3869                     APPLE AMERICAN GROUP LLC
3870                                    APPLE INC
63022                         APPLE EXHIBITS CORP
125285                            APPLE T USA INC
236833                        APPLE FINANCING LLC
236846                       APPLE PROCESSING LLC
409618                APPLE PAYMENTS SERVICES LLC
409621  APPLE SENTITY INDEPENDENT PRODUCTIONS LLC
462350                          APPLE FREIGHT INC
(9, 1)

#### Microsoft

- Microsoft Corporation

In [149]:
# filter for just microsoft from df
ms_matches = df[df['Employer Name'].str.contains("Microsoft", case=False, na=False)]
print(f"Matches for 'Microsoft':")
unique_microsoft = ms_matches[['Employer Name']].drop_duplicates()
print(unique_microsoft)
print(unique_microsoft.shape)

Matches for 'Microsoft':
                        Employer Name
33609                  MICROSOFT CORP
33613           MICROSOFT CORPORATION
94264          MICROSOFT CORPORATIOIN
210253  MICROSOFT OPS PUERTO RICO LLC
324202           MICROSOFT CORPORTION
(5, 1)

Quite clean since MS doesn't have any branding related ties to health, education (e.g. Apple Tree / Apple Care)

All five of these are suitable to be included

#### Google

- Google LLC
- Google Public Sector LLC ([Official website source](https://publicsector.google) - "*Google is leading a new era of innovation, bringing the best of AI and security to mission*")

#### Amazon

There are over 30-35 entities from the data source that are likely "Amazon" as a lay person knows it. Nearly all of them are in VA, and most have single digit options

Note: there is no . in the original data source, so "Amazon.com" appears as "AMAZON COM"

- [Amazon Advertising LLC](https://advertising.amazon.com) - advertising for businesses
- [Amazon.com Services](https://www.bloomberg.com/profile/company/0128542D:US#:~:text=Amazon.com%20Services%20LLC%20provides,Services%20distributes%20its%20products%20worldwide) - their eCommerce subsidiary, a huge chunk of their overall petitions
- Amazon Data Services Inc - usually referred to as Amazon Web Services (AWS). There is a registry on [UK Companies House](https://find-and-update.company-information.service.gov.uk/company/09959151/officers) under this name though, with two active directors both referring to either AWS or Amazon
- AMAZON DEVELOPMENT CENTER U S INC
- AMAZON DEVELOPMENT CENTER US INC - both of these registered in VA, the home of Amazon's largest data centre and WA, their corporate HQ
- Amazon Media Venture LLC - based on VA, only two sponsors in 2025,
- Amazon Payments, Inc. - based in VA, Provider of Amazon Pay
- Amazon Studios LLC - based in VA, only 7 sponsors in 2025

#### Meta

#### NVIDIA

#### Tesla

In [84]:
# define magnificent 7 tech companies
magnificent_7 = [
    'Apple Inc.',
    'Microsoft Corporation',
    'Alphabet Inc.',
    'Amazon.com, Inc.',
    'NVIDIA Corporation',
    'Meta Platforms, Inc.',
    'Tesla, Inc.'
]